
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: hidden;
  grid-gap: 0px;
  background-color: #ffffff;
  background: url("spirit_of_veronica_topside.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 px;
  margin: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 0px;
  height: 100px;
  width: 100px;
  margin: 0px;
}

.grid-item:hover {
  animation-name: highlight_dropped;
  animation-duration: 3s;
}

@keyframes highlight_dropped {
  from {
    background-color: rgba(255, 255, 255, 0.7);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

.flip-this {
  position: relative;
  width: 100;
  height: 100;
  border-radius: 25px;
  transition: transform 0.5s;
  transform-style: preserve-3d;  
  box-shadow: 10px 10px 10px #000000;
  background-color: rgba(255, 255, 255, 0.4);
}

.flip-this:hover {
  transition: 0.9s;
  
  transform: rotate3d(1, 2, 3, -20deg);
}
