/* CSS for the map */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: hidden;
  grid-gap: 0px;
  background-color: #ffffff;
  background: url("spirit_of_veronica_topside.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 px;
  margin: 0px;
}

/* actual grid square items */
.grid-item {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 0px;
  height: 100px;
  width: 100px;
  margin: 0px;
}

.grid-item:hover {
  animation-name: highlight_dropped;
  animation-duration: 3s;
}

@keyframes highlight_dropped {
  from {
    background-color: rgba(255, 255, 255, 0.7);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

.board-pieces {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border-radius: 25px;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  transition: transform 0.5s;
  transform-style: preserve-3d;  
  box-shadow: 10px 10px 10px #000000;
  background-color: rgba(255, 255, 255, 0.4);
}

.board-pieces:hover {
  transition: 0.5s;
  transform: rotate(360deg);
/*  
  animation-name: hover_pieces;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
*/
  */
}

/*
@keyframes hover_pieces {

  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
*/



