/*
#div_a {
  width: 150px;
  height: 150px;
  padding: 1px;
  border: 1px solid #000000;
}
#div_b {
  width: 150px;
  height: 150px;
  padding: 1px;
  border: 1px solid #000000;
}

#div_c {
  width: 150px;
  height: 150px;
  padding: 1px;
  border: 1px solid #000000;
}
*/
.grid-container {
  display: grid;
  /* grid-template-columns: repeat(calc(100vw / 150px),1fr); */
  grid-template-columns: auto auto auto;
  /*grid-template-rows: auto;*/
  /*grid-auto-rows: 0;*/
  overflow: hidden;
  grid-gap: 0px;
  background-color: #ffffff;
  /*background: url("https://images.unsplash.com/photo-1518176258769-f227c798150e")
    center;*/
  background: url("battlemap_bg.png") center;
  background-size: cover;
  padding: 0 px;
  margin: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px;
  height: 100px;
  width: 100px;
  margin: 0px;
}
